.blog-container {
  margin: 233px 196px 0 195px;
}

.blog-title {
  color: #0f6eff;
  font-size: 14px;
}

.blog-description {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  p {
    margin-right: 60px;
  }
}

.boxes {
  display: flex;
  margin-top: 100px;
  margin-bottom: 150px;
}

.box-1 {
  margin-right: 50px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.blogBall {
  position: absolute;
  left: -25%;
  z-index: -1;
  top: 0;
}

.name {
  padding: 15px 0 0 18px;
  font-size: 14px;
}

.date {
  padding: 5px 0 0 18px;
  font-size: 14px;
  color: #aaa9a9;
}

.description {
  padding: 25px 0 0 18px;
  font-size: 18px;
  position: absolute;
  width: 200px;
  margin-top: 70px;
}

.blog-button {
  position: absolute;
  top: 70%;
  left: 9%;
  display: flex;
  align-items: center;
  color: white;
}

.button-text {
  position: absolute;
  left: 7.5%;
  font-size: 12px;
}

.button-text::after {
  content: '';
  display: block;
  width: 35%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.blogLine {
  position: relative;
  left: -110%;
}

.blogButtonBall {
  position: relative;
  left: 1%;
  top: 65%;
}

.box-2 {
  margin-right: 50px;
  position: relative;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: black;
  align-items: flex-start;
}

.firstPart {
  display: flex;
  align-items: center;
  margin: 18px;
  width: 100%;
  position: relative;
}

.overlay2::after {
  content: '';
  position: absolute;
  bottom: 70%;
  left: 5%;
  width: 90%;
  border-bottom: 1px solid #bebebe;
}

.card-data {
  margin-left: 20px;
}

.avatar-name {
  font-size: 14px;
}

.avatar-date {
  font-size: 14px;
  color: #aaa9a9;
}

.box-3 {
  margin-right: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.desc-section {
  margin: 18px;
}

.box-description-title {
  font-size: 14px;
}

.box-description {
  font-size: 12px;
  color: #aaa9a9;
  margin-top: 15px;
}

.read-more {
  font-size: 12px;
  color: #0f6eff;
  text-decoration: underline;
  margin-top: 20px;
}

.blogsquare {
  position: absolute;
  top: 0;
  left: 120%;
}

footer {
  background-color: #fff;
  color: #000;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}

@media (max-width: 1425px) {
  .blogsquare {
    left: 110%;
  }
}

@media (max-width: 1381px) {
  .blogLine {
    display: none;
  }

  .button-text {
    left: 25%;
  }
}

@media (max-width: 1351px) {
  .blog-image {
    height: 360px;
  }
}

@media (max-width: 1227px) {
  .desc-section,
  .firstPart {
    margin: 10px;
  }

  .overlay2::after {
    bottom: 76%;
  }

  .description {
    padding-right: 20px;
  }
}

@media (max-width: 1164px) {
  .overlay2 {
    margin: 10px;
  }
}

@media (max-width: 1119px) {
  .blog-container {
    margin-right: 100px;
  }

  .overlay2::after {
    bottom: 74%;
  }

  .desc-section {
    margin-top: 30px;
  }

  .blogsquare {
    left: 60%;
    z-index: -2;
  }
}

@media (max-width: 1008px) {
  .blogsquare {
    display: none;
  }

  .blog-container {
    margin: 233px 60px 0 100px;
  }
}

@media (max-width: 927px) {
  .boxes {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .box-1 {
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .box-2,
  .box-3 {
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .overlay2::after {
    display: none;
  }

  .blogsquare {
    left: 100%;
  }

  .desc-section {
    margin-top: 30px;
  }
}
@media (max-width: 781px) {
  .blog-description {
    flex-direction: column;
    p {
      margin: 0;
    }
  }

  .blog-title {
    text-align: center;
  }
}

@media (max-width: 501px) {
  .blog-container {
    margin: 233px 10px 0 10px;
  }
}
