.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 122px 23px 74px;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-brand {
  
  display: flex;
  align-items: center;
  margin-right: 116px;
  font-size: 25px;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin-right: 44px;
  text-decoration: none;
  color: black;
  position: relative;
}

.navbar-links a:hover {
  color: #0f6eff;
}

.navbar-links a:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 1px;
  height: 21px;
  background-color: #0f6eff;
  display: block;
}

.navbar-extras {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-btn {
    background-color: #dfdfdf;
    color: #0f6eff;
    border: 2px solid #0f6eff;
    padding: 13px 23px;
    text-align: center;
    display: inline-block;  
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}

.contact-btn:hover {
  background-color: #0f6eff;
  color: white;
}

.language-select {
  background-color: #dfdfdf;
  border: 0;
  margin: 0 40px 0 24px;
}

.phone-number {
  font-weight: lighter;
  color: #aaaaaa;
  span {
    color: #2f7afe;
  }
}
